<div class="logo">
    <a href="http://www.creative-tim.com" class="simple-text logo-normal">
        TRANG QUẢN TRỊ
    </a>
</div>
<div class="sidebar-wrapper">
    <ul class="nav">
        <li class="nav-item active  ">
            <a class="nav-link" href="./Home">
                <i class="material-icons">home</i>
                <p>Home</p>
            </a>
        </li>
        <li class="nav-item ">
            <a class="nav-link" href="./User">
                <i class="material-icons">person</i>
                <p>Quản lí người dùng</p>
            </a>
        </li>
        <li class="nav-item ">
            <a class="nav-link" href="./Product">
                <i class="material-icons">content_paste</i>
                <p>Quản lí sản phẩm</p>
            </a>
        </li>
     
    </ul>
</div>
       